.profileContainer {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    display: inline-flex;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    max-width: 43%;
    overflow: hidden;
    margin-top: 20px;
}

.username {
    font-size: 40px;
    font-weight: 700;
}

.userTag {
    font-size: 35px;
    color: gray;
}

.userLoc {
    font-size: 35px;
    color: gray;
    padding-bottom: 20px;
}

.statContainer {
    display: flex;
    justify-content: space-around;
    background-color: #bebebe;
    border-top: 3px solid gray;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.statContainer :nth-child(1) {
    border: none;
}

.stat {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    width: calc(100% / 3);
    border-left: 3px solid gray;
}

.statName {
    padding-top: 20px;
}

.statValue {
    font-weight: 700;
    padding-bottom: 20px;
}